<%- include("partials/header.ejs")%>


<div class="learning">
    <h2>Hi, I'am Sarvjeet</h2>
    <p>
        
I am Sarvjeet Swanshi, and I am passionate about web development. Currently, I am in the learning phase, eager to expand my skills in this dynamic field. Recently, I embarked on creating a blog web application called "Blogger." Through this project, I am exploring the intricacies of both front-end and back-end development. My goal is to integrate innovative features into Blogger, enhancing user experience and functionality. As I master various programming languages and frameworks, I envision Blogger as a platform that not only showcases my technical prowess but also serves as a valuable resource for readers seeking insightful content and engaging discussions in the digital realm.
    </p>
    <p>Thank you for visiting my website!</p>
</div>

<%- include("partials/footer.ejs")%>
