<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles\main.css">
  <link rel="stylesheet" href="styles\post.css">
  <title>Blogger</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="/images/Blogger_transparent_2.png" alt="">
    </div>
    <nav>
      <a href="/home"><button class="button">Home</button></a>
      <a href="/about"><button class="button">About</button></a>
      <a href="/contact"><button class="button">Contact</button></a>
    </nav>
  </header>
  <main>
    
    <div class="bigbox">
      

